# file options

--swiftversion 5.6

# Fix rules that conflict with swiftlint defaults.
--commas inline # Swiftlint calls for no final comma on collections.
--ifdef noindent # No need to indent #ifdef blocks.
